*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(268deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    width: 600px;
    min-height: 300px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.container > .add-tasks{
    background-color: white;
    width: 95%;
    height: 100px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.add-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.add-tasks > form{
    width: 95%;
    height: 50px;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-tasks > form > #tasks{
    width: 65%;
    height: 40px;
    border: none;
    outline: 2px solid rgb(46, 201, 136);
    border-radius: 5px;
    padding-left: 8px ;
}

form > #tasks:focus{
    outline: 2px solid coral;
}

.add-tasks > form > button{
    width: 25%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(46, 201, 136);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.add-tasks > form > button:hover{
    background-color:coral;
}

.list-tasks{
    background-color: white;
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}



#list{
    list-style: none;
    padding: 10px;
    
}

#list > li{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 250, 220);
    margin: 5px;
    border-radius: 5px;
}

#list > li > a > img{
    width: 20px;
    height: 20px;
}

#list > li > a{
    width: 35px;
    height: 35px;
    background-color: rgb(46, 201, 136);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
}

#list > li > a:hover{
    background-color: red;
}

.done{
    text-decoration: line-through;
    opacity: 0.7;
    color: rgb(46, 201, 136);
}

span{
    cursor: pointer;
}